# --- Web API ---
fastapi
uvicorn
python-multipart
python-dotenv

# --- Logic & Processing ---
ultralytics
opencv-python-headless
pillow
numpy
pandas
editdistance
requests

# --- Training / ML Utils ---
scikit-learn
matplotlib
tqdm