# กำหนด Extra Indexes URLs ที่จำเป็นสำหรับการค้นหา
--extra-index-url https://download.pytorch.org/whl/cu118
--extra-index-url https://pypi.org/simple

torch
torchvision
torchaudio

inference-sdk
tqdm
pillow
pandas
opencv-python
matplotlib
requests
editdistance
scikit-learn

# Web/API Dependencies
fastapi
uvicorn
python-multipart

#https://simai-lpr-service-264688546074.asia-southeast1.run.app